<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
  </configSections>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.5.0" newVersion="6.6.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="WeChat_MP_AppID" value="wx665ba78a7bbb34b5" />
    <add key="WeChat_MP_AppSecret" value="0663d9705662acc14db1aa91cab80be5" />
    <add key="WeChat_MP_Token" value="Carsupport" />
    <add key="WeChat_MP_DomainUrl" value="m.hicar123.net" />
    <add key="WeChat_MP_Template" value="r4MZjAIYzVo0iajfPflMu0cTjocRdF0ayYNA0oatN3M" />
    <add key="WeChat_MP_OpenID" value="gh_67ba5162a3d0" />
    <add key="WeChat_MP_Template_Success" value="MVayyLL2kJVJb3GwdNreARA5PMEPxMh8qL3BKae0GCk" />
    
    <add key="BaseUrl" value="http://api.sp.net/api/v1" />
    <add key="token" value="61dcf8e0-4b99-11e5-8fd0-02004c4f4f50" />

    <!--<add key="ConnectionString" value="Server=121.40.168.127;port=10833;UserId=supportuser;Password=pass!@#$word4321;Database=TSupportPlatform3;charset='utf8mb4';Allow User Variables=True" />-->
    <add key="ConnectionString" value="Server=121.40.168.127;port=10833;UserId=supportuser;Password=pass!@#$word4321;Database=T1000;charset='utf8mb4';Allow User Variables=True" />

    <!--<add key="OilCardRecharge-Youyu-Key" value="HIKA180507" />
    <add key="OilCardRecharge-Youyu-Code" value="5" />
    <add key="OilCardRecharge-Youyu-Url" value="http://16e64091f3.iok.la:23525" />-->

    <!--<add key="EP_RENBAO_URL" value="http://smsptest.mypicc.com.cn/WebTransNet4/$guangzhoupicc/renbao/weichatApi"/>-->
    <add key="EP_RENBAO_URL" value="http://121.33.201.98:8888/renbao/weichatApi"/>
    <add key="EP_RENBAO_KEY" value="JYHS1yWXCW00ore71TXE4aDatAEN6j0G"/>
    <add key="EP_RENBAO_PARTNER_ID" value="84513315"/>
    <add key="EP_RENBAO_SWITCH" value="false"/>

    <!--微信公众号配置 -->
    <add key="WeChat_MP_AppID" value="wx665ba78a7bbb34b1" />
    <add key="WeChat_MP_AppSecret" value="0663d9705662acc14db1aa91cab80be5" />
    <add key="WeChat_MP_Token" value="Carsupport" />
    <add key="WeChat_MP_DomainUrl" value="m.hicar123.net" />
  </appSettings>
</configuration>